---
import { Image } from 'astro:assets';
const { socialLinks } = Astro.props;
---

<div class="social_row">
    {socialLinks.map(link => (
        <a href={link.url} target="_blank">
            <Image src={link.icon} alt={link.name} class="social_icon">
        </a>
    ))}
</div>


<style>
    .social_icon{
            width: 48px;
            height: 48px;
        }
</style>