---
import { Image } from 'astro:assets';
import ChallengeDevice  from '../../assets/images/challenge_device.png'
import PreviewText from '../MinigamePreview/PreviewText.astro';

const { title, text} = Astro.props;

---
<div class="section_three" id="section_three">

    <PreviewText
		title = {title},
		text = {text}
	/>

	<Image src={ChallengeDevice} alt="Preview Image" class='challenge_preview'/>
    
</div>

<style>
	.section_three{
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: center;
		padding: 0px 120px;
	}

	.challenge_preview{
		width: 300px;
		height: 600px;

	}
	@media screen and (max-width: 636px) {
		.section_three{
			display: flex;
			flex-direction: column;
		}

	}
</style>