---
import { Image } from 'astro:assets';
import ChallengeDevice  from '../../assets/images/challenge_device.png'
import ChallengeBackground  from '../../assets/images/background_lago.png'
import PreviewText from '../MinigamePreview/PreviewText.astro';

const { title, text} = Astro.props;

---
<div class="section_three" id="section_three">

    <PreviewText
		title = {title},
		text = {text}
	/>
	<Image src={ChallengeBackground} alt="Background Image" class='challenge_background'/>
	<Image src={ChallengeDevice} alt="Preview Image" class='challenge_preview'/>
    
</div>

<style>
	.section_three{
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: center;
		height: 100vh;
		margin-right: 6vw;
		padding: 4vw;
	}

	.challenge_preview{
		position: absolute;
		width: auto;
		height: 70vh;
		right: 2vw;
	}

	.challenge_background{
		position: absolute;
		width: auto;
		height: 95vh;
		right: 0;
		overflow: hidden;
	}

	@media screen and (max-width: 636px) {
		.section_three{
			display: flex;
			flex-direction: column;
		}

	}
</style>