* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f58c0a, hsl(33, 92%, 70%)); /* Degradado de arriba hacia abajo */
}

h1 {
  font-size: 4vw;
  /* margin-bottom: 1rem; */
  color: var(--primary10);
  text-align: center;
  -webkit-text-stroke: 0.1vw white;
}

h2 {
  font-size: 1.4vw;
  margin-bottom: 0.5vw;
  color: var(--primary10);
  text-align: center;
}

p {
  font-size: 1vw;
  margin-bottom: 3vw;
  /* color: var(--primary10); */
  color:black;
  text-align: center;
}

@media screen and (max-width: 636px) {
  .nav-links {
      display: none;
  }
  .spora_hero_img{
    display: none;
  }
  .section_four{
    padding: 16px
  }
}


/*
  ## Scroll Snap
*/

/* .parent {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.child {
  scroll-snap-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1vw;
  line-height: 1.4;
  color: #000a;
  background-color: #F58C0A;
} */


/*
  ## Optional
*/
/* .child:nth-child(1) {
  background-color: #F58C0A;
  background-image: url('src/assets/images/landing_background.png');
  background-size: cover;
}

.child:nth-child(3) {
  background: hsl(150, 50%, 60%);
}

.child:nth-child(4) {
  background: hsl(175, 50%, 60%);
}

.child:nth-child(5) {
  background: hsl(200, 50%, 60%);
} */


/*
  ## Spora with Hand Image
*/

/* .spora_hero {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
} */

/* .hero_image{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 100vh;
  width: 100%;
} */





/*
  ## Minigame Preview
*/

/* .minigame_preview {
  position: relative;
  top: 30px;
  left: 0;
  width: auto;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-image: url('src/assets/images/minigame_background.png');
  background-size: cover;
} */

/* .minigame_image{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #F58C0A;
} */


/*
  ## Challenge Preview
*/

/* .challenge_preview {
  position: absolute;
  top: 30px;
  right: 0;
  width: auto;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-image: url('src/assets/images/challenge_background.png');
  background-size: cover;
} */

/* .challenge_image {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 100vh;
  width: 100%;
} */


/*
  ## Our Team
*/



/* .hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
} */

/* .nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
} */

/* .expanded {
  display: unset;
} */

/* @media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
} */