---
import { Image } from 'astro:assets';
import SporaHero  from '../../assets/images/spora_hero.png'
import HomeText from './HomeText.astro';

const { title, text, textButton } = Astro.props;

---
<div class="section_one" id="section_one">
    
    <HomeText 
		title = {title},
		text = {text},
		textButton = {textButton}
	/>
    
    <Image src={SporaHero} alt="Spora Hero." class='spora_hero_img'/>
    
</div>

<style>
	.section_one{
		/* position: relative; */
		display: grid;
		grid-template-columns: 3fr 1fr;
		align-items: center;
		height: 100vh;
		background-image: url("../../assets/images/landing_background.png");
		background-size: cover;
		padding-left: 90px;
	}

	.spora_hero_img{
		/* position: absolute; */
		width: auto;
		height: 100vh;
		/* max-width: 100%;
		max-height: 100%; */
	}

	@media screen and (max-width: 636px) {
 
		.section_one{
			display: grid;
			grid-template-columns: 1fr;
			align-items: center;
			padding: 0 20px;
		}
	}
</style>