---
import SocialLogos from './SocialLogos.astro';

const { title, text, textButton } = Astro.props;
const primaryColor = "#F58C0A"
const primary30 = "#995900"
const primary20 = "#663B00"
const primary10 = "#442801"
const secondary30 = "#2F6A33"
const secondary20 = "#1A4A1F"
const secondary10 = "#538C21"
---
<div class="homeText">
    <h1>{title}</h1>
    <p>{text}</p>
    <button type="button">{textButton}</button>
    <h2>Seguinos en</h2>
    <div class="icons">
        <SocialLogos>
    </div>
</div>
<style define:vars={{primaryColor, primary30, primary20, primary10, secondary30, secondary20, secondary10}}>

    .homeText {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.4vw;

        button {
            padding: 0.8vw 0.8vw;
            margin-bottom: 2vh;
            font-size: 1.5vw;
            background-color: var(--secondary10);
            color: white;
            border: none;
            border-radius: 1vw;
            cursor: pointer;
        }

        button:hover {
            background-color: var(--secondary30);
        }

        button:active {
            background-color: var(--secondary30);
        }
        
    }
</style>
