---
import { Image } from 'astro:assets';
import Instagram  from '../../assets/images/instagram_icon.webp'
import X_Twitter  from '../../assets/images/icon_twiter.png'
---

<div class="icons">
    <a href="https://www.instagram.com/proyecto.spora/"><Image src={Instagram} alt="Instagram Logo" class='social_icons'/></a>
    <a href="https://x.com/PSpora69225"><Image src={X_Twitter} alt="X-Twitter Logo" class='social_icons'/></a>
</div>

<style>
    .icons {
            display: flex;
            gap: 0.8vw;
        }

        .social_icons {
            width: auto;
            height: 2.4vw;
            cursor: pointer;
        }
</style>