---
import Navigation from './Navigation.astro';
import SporaLogo from './SporaLogo.astro';
---
<header class="topbar">
  <div class="logo">
    <SporaLogo />
  </div>
  <nav>
    <Navigation />
  </nav>
</header>
