---
---
<nav class="nav-links">
    <a href="#section-1">Nuestra App</a>
    <a href="#section-2">Minijuegos</a>
    <a href="#section-3">Desafíos</a>
    <a href="#section-4">Nosotros</a>
    <a href="#section-5">Contacto</a>
</nav>

<style>
    .nav-links {
        a{
            color: white;
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            padding: 8px;
            
            text-transform: uppercase;
        }
        a:hover{
            color: #F58C0A;
        }
    }
</style>