---
---
<nav class="nav-links">
    <a href="#section_one">Nuestra App</a>
    <a href="#section_two">Minijuegos</a>
    <a href="#section_three">Desafíos</a>
    <a href="#section_four">Nosotros</a>
    <a href="#section_five">Contacto</a>
</nav>

<style>
    .nav-links {
        a{
            color: white;
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            padding: 8px;
            
            text-transform: uppercase;
        }
        a:hover{
            color: #F58C0A;
        }
    }
</style>