---
---
<div class="nav-links">
    <a href="/">Nuestra App</a>
    <a href="/about">Sobre Nosotros</a>
    <a href="/blog">Doc</a>
    <a href="/blog">Contacto</a>
</div>

<style>
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1.5rem;

        a {
            display: block;
            text-align: center;
            padding: 10px 0;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
        }
        a:hover{
            color: #F58C0A;
        }
    }
    
    @media only screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Oculta el div cuando el ancho de la pantalla es igual o menor a 768px */
    }
}
</style>