---
import { Image } from 'astro:assets';
import sporaLogo from '../assets/images/logo_spora.png';
---
<div class="sporaLogo">
    <Image src={sporaLogo} alt="Spora Logo." class='spora_logo'/>
</div>

<style>
    .spora_logo {
        width: 8vw;
        height: auto;
    }
</style>